@import url("../../../App.css");
@import "../../myColors.module.css";

.modalBackground {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(126, 126, 126, 0.885);
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(1px);
}

.modalCashClosing {
	background-color: var(--midNightGray);
	width: 600px;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	padding: 12px;
}

/* CANCELARBTN CONTAINER */

.modalCashClosing .cancelarCtn {
	display: flex;
	justify-content: flex-end; /* pushes button to the right */
}
.modalCashClosing .cancelarCtn button {
	width: 60px;
	border-radius: 6px;
	border: none;
	font-size: 26px;
	background-color: rgba(255, 255, 255, 0.241);
	color: white;
	height: 60px;
}

/* CASH IN CASHIER CTN */
.cashInCashierCtn {
	display: flex;
	justify-content: center;
	color: rgb(158, 158, 158);
}
.cashInCashierCtn p {
	font-size: 36px;
}

/* form CONTAINER */
.modalCashClosing form {
	padding: 10px;
	width: 80%;
	margin: 0 auto; /* Centers the form horizontally */
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.modalCashClosing form button {
	height: 60px;
	border-radius: 8px;
	border: none;
}

.cashClosingTable {
	border-collapse: collapse;
	color: white;
}

.cashClosingTable th:nth-child(2),
.cashClosingTable th:nth-child(3) {
	min-width: 120px;
}

.cashClosingTable th:first-child,
.cashClosingTable td:first-child {
	border: none;
	text-align: right;
	padding-right: 6px;
}

.cashClosingTable td:nth-child(2) {
	text-align: right;
	padding-right: 10px;
}

.cashClosingTable td,
.cashClosingTable th {
	height: 40px;
}

.cashClosingTable tr:nth-child(3) td {
	border-bottom: 3px solid var(--midNightGray);
	width: 600px;
}

.cashClosingTable tr:nth-child(3) td {
	border-bottom: 3px solid var(--midNightGray);
	width: 600px;
}

.cashClosingTable tr:nth-child(9) td {
	border-top: 3px solid var(--midNightGray);
	width: 600px;
}

.cashClosingTable th:nth-child(2),
.cashClosingTable td:nth-child(2) {
	background: var(--naranja-bg);
}

.cashClosingTable th:nth-child(3),
.cashClosingTable td:nth-child(3) {
	background: #6da6fb;
	min-height: 44px;
}

.cashClosingTable td:nth-child(3) {
	padding-left: 10px;
}

.cashClosingTable th:nth-child(2) {
	border-top-left-radius: 8px;
	padding: 10px;
}

.cashClosingTable th:nth-child(3) {
	border-top-right-radius: 8px;
}

.cashClosingTable tr:last-child td:nth-child(2) {
	/* your styles here */
	border-bottom-left-radius: 8px;
	padding-bottom: 10px;
	padding-top: 1px;
}

.cashClosingTable tr:last-child td:nth-child(3) {
	/* your styles here */
	border-bottom-right-radius: 8px;
	padding-bottom: 10px;
	padding-top: 1px;
}

.cashClosingTable input {
	width: 50px;
	height: 36px;
	text-align: right;
	padding-right: 4px;
	font-size: 16px;
}

.cashClosingTable td:nth-child(3) input {
	border: 1px solid #6da6fb;
	box-sizing: border-box; /* keeps the input’s width consistent */
	/* border-radius: 4px;  */
}

.cashClosingTable td:nth-child(2) input {
	border: 1px solid var(--naranja-bg);
	box-sizing: border-box; /* keeps the input’s width consistent */
	/* border-radius: 4px;  */
}

/* 2-nd column – when the input IS focused  */
.cashClosingTable td:nth-child(2) input:focus {
	border: 2px solid #6da6fb;
	border-color: #00e0ff; /* or whatever highlight colour you like */
	outline: 1px solid white; /* optional: hide default blue ring */
}

.cashClosingTable td:nth-child(3) input:focus {
	border: 2px solid #6da6fb;
	border-color: #00e0ff; /* or whatever highlight colour you like */
	outline: 1px solid white; /* optional: hide default blue ring */
}

/* //CASH TOTAL */

form .cashTotal {
	display: flex;
	flex-direction: column; /* or row if needed */
	align-items: center; /* centers child horizontally */

	width: 50%;
	margin: 0 auto; /* 👈 this centers it horizontally */
	color: white;
}

form .cashTotal p {
	font-size: 30px;
}
