@import url("../../App.css");

/* CONTAINER */
.cashFloatContainer {
	width: 100%;
	height: 100%;
	display: flex;
	color: rgb(35, 35, 35);
	gap: 10px;
}

/* AGREGAR CONTAINER */

.cashFloat_Agregar_Container {
	display: flex;
	flex-direction: column;
	width: 64%;
	background-color: var(--midNightGray);
}
.cashFloat_Agregar_button_Container {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 120px;
	background-color: var(--midNightGray);
}
.cashFloat_Agregar_button_Container button {
	width: 80%;
	border-radius: 8px;
	background-color: var(--darkMelon);
	height: 80px;
	color: white;
	border: none;
	font-size: 2rem;
}

.cashFloat_enCaja_container {
	padding: 16px;
	height: 76px;
	color: white;
	justify-content: right;
	display: flex;
	align-items: center;
}

.cashFloat_enCaja_container p {
	font-size: 20px;
}

.enCaja_ctn {
	padding-left: 6px;
	padding-right: 10px;
}

.totalCash_ctn {
	padding: 10px;
	border-radius: 6px;
	color: white;
	font-size: 28px;
	background-color: rgba(179, 179, 179, 0.19);
	border: solid 1px var(--darkMelon);
	text-align: right;
}

/* GUARDAR CONTAINER */

.cashFloat_Guardar_Container {
	display: flex;
	flex-direction: column;
	background-color: var(--midNightGray);
	width: 36%;
}
.cashFloat_Guardar_button_Container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20%;
	background-color: var(--midNightGray);
}
.cashFloat_Guardar_button_Container button {
	width: 80%;
	border-radius: 8px;
	background-color: #6da6fb;
	height: 80px;
	color: white;
	border: none;
	font-size: 2rem;
}

.totalPullCtn {
	padding: 10px;
	border-radius: 6px;
	color: white;
	font-size: 28px;
	background-color: rgba(179, 179, 179, 0.19);
	border: solid 1px #6da6fb;
	text-align: right;
}
